In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022 was already in local storage

            pickup_datetime  pickup_location_id
0       2022-01-16 14:58:42                   5
1       2022-01-16 17:26:27                  51
2       2022-01-16 16:51:12                 161
3       2022-01-16 15:58:01                 210
4       2022-01-16 23:40:09                 215
...                     ...                 ...
2922800 2022-12-20 22:34:33                 336
2922801 2022-12-20 20:03:24                 379
2922802 2022-12-20 12:13:32                 169
2922803 2022-12-20 17:26:49                 469
2922804 2022-12-20 19:30:59                 273

[2922805 rows x 2 columns]

In [3]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2922805 entries, 0 to 2922804
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_datetime     datetime64[ns]
 1   pickup_location_id  int32
dtypes: datetime64[ns](1), int32(1)
memory usage: 55.7 MB

In [4]:
import pandas as pd
nulos = pd.DataFrame(rides.isnull().sum(), columns=['Nulos'])
nulos.Nulos.unique()

array([0], dtype=int64)

In [63]:
# rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('H')
# agg_rides = rides.groupby(['pickup_hour', 'pickup_location_id']).size().reset_index()
# agg_rides.rename(columns={0: 'rides'}, inplace=True)

In [64]:
# from src.data import add_missing_slots
# agg_rides_all_slots = add_missing_slots(agg_rides)

In [65]:
# agg_rides_all_slots.pickup_location_id.unique().size

In [5]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 331/331 [00:05<00:00, 65.03it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      1                   9
1       2022-01-01 01:00:00      1                   9
2       2022-01-01 02:00:00      1                   9
3       2022-01-01 03:00:00      0                   9
4       2022-01-01 04:00:00      1                   9
...                     ...    ...                 ...
2899555 2022-12-31 19:00:00      0                  57
2899556 2022-12-31 20:00:00      0                  57
2899557 2022-12-31 21:00:00      0                  57
2899558 2022-12-31 22:00:00      0                  57
2899559 2022-12-31 23:00:00      0                  57

[2899560 rows x 3 columns]

In [6]:
ts_data.pickup_location_id.unique().size

331

In [7]:
import pandas as pd
nulos = pd.DataFrame(ts_data.isnull().sum(), columns=['Nulos'])
nulos.Nulos.unique()

array([0], dtype=int64)

In [8]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
    output_seq_len=36
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 331/331 [00:44<00:00,  7.38it/s]

features.shape=(111216, 674)
targets.shape=(111216, 36)

In [9]:
import pandas as pd
nulos = pd.DataFrame(features.isnull().sum(), columns=['Nulos'])
nulos.Nulos.unique()

array([0], dtype=int64)

In [10]:
targets.tail()

,rides_next_1_hour,rides_next_2_hour,rides_next_3_hour,rides_next_4_hour,rides_next_5_hour,rides_next_6_hour,rides_next_7_hour,rides_next_8_hour,rides_next_9_hour,rides_next_10_hour,...,rides_next_27_hour,rides_next_28_hour,rides_next_29_hour,rides_next_30_hour,rides_next_31_hour,rides_next_32_hour,rides_next_33_hour,rides_next_34_hour,rides_next_35_hour,rides_next_36_hour
111211,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0
111212,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,3.0,0.0
111213,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0
111214,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0
111215,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [11]:
import pandas as pd
#tabular_data = features
#tabular_data = targets
tabular_data = pd.concat([features, targets], axis=1)

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')

In [12]:
tabular_data.head()

,rides_previous_672_hour,rides_previous_671_hour,rides_previous_670_hour,rides_previous_669_hour,rides_previous_668_hour,rides_previous_667_hour,rides_previous_666_hour,rides_previous_665_hour,rides_previous_664_hour,rides_previous_663_hour,...,rides_next_27_hour,rides_next_28_hour,rides_next_29_hour,rides_next_30_hour,rides_next_31_hour,rides_next_32_hour,rides_next_33_hour,rides_next_34_hour,rides_next_35_hour,rides_next_36_hour
0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,10.0
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,1.0,2.0,5.0,2.0,2.0,2.0
2,0.0,1.0,2.0,0.0,0.0,2.0,1.0,1.0,1.0,2.0,...,0.0,0.0,0.0,0.0,2.0,0.0,5.0,4.0,1.0,8.0
3,4.0,2.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,4.0,...,2.0,1.0,1.0,0.0,1.0,1.0,7.0,2.0,2.0,3.0
4,0.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,4.0

In [13]:
import pandas as pd
nulos = pd.DataFrame(tabular_data.isnull().sum(), columns=['Nulos'])
nulos.Nulos.unique()

array([0], dtype=int64)